@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0000080;
    --foreground: #008f11;
    --bdr: #00ff41;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../img/matrixAnimated.gif);
}
ol {
  margin-top: 32px;
}
li {
border-radius: 100%;
  /* border-2  */
  /* border-solid  */
  /* border-[#00ff41]  */
  /* transition-colors */
  /* flex  */
  /* items-center  */
  /* justify-center  */
  /* bg-background  */
  /* gap-2  */
  /* hover:bg-[#fff]  */
  /* text-white  */
  /* h-12  */
  /* px-5 */
}
main {
  flex 
  flex-direction: column;
  items-center 
  gap-8 
  row-start-2
}
